#root {
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
	zoom: 0.8;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

html {
	background-attachment: fixed !important; 
	background-size: cover !important;
	background-repeat: no-repeat !important;
}

@font-face {
  font-family: LuloCleanOne;
  src: url(./assets/fonts/LuloCleanOne.otf);
}

@font-face {
  font-family: LuloCleanOneBold;
  src: url(./assets/fonts/LuloCleanOneBold.otf);
}

h1 {
  font-family: LuloCleanOneBold;
  font-size: 42px;
  line-height: 58px;
  font-weight: 700;
  margin: 0.25rem;
}

h3 {
  font-family: LuloCleanOne;
  font-size: 25px;
  line-height: 35px;
  font-weight: 400;
  margin: 0.25rem;
}

h4 {
  font-family: LuloCleanOneBold;
  font-weight: 700;
  font-size: 25px;
  line-height: 35px;
  margin: 0.25rem;
}

h5 {
  font-family: LuloCleanOne;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 25px;
  margin: 1rem;
  margin-left: 0;
}

h6 {
  font-family: LuloCleanOneBold;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 25px;
  margin: 1rem;
}

hr {
  margin-top: 1rem;
  margin-bottom: 1.25rem;
}

a {
	color: inherit;
	&:hover {
		color: #363636;
		text-decoration: none;
	}
}

button {
	border: none !important;
	transition: transform 90ms ease-in-out;
	&:hover {
		cursor: pointer;
		transform: scale(0.98);
	}
	&:focus {
		outline: none !important;
	}
	&:disabled {
		background-color: #0001 !important;
		color: #36363670 !important;
		&:hover {
			transform: none;
			cursor: default;
		}
	}
}

textarea {
	font-family: LuloCleanOneBold !important;
	font-style: normal !important;
	font-weight: 700 !important;
	font-size: 42px !important;
	line-height: 50px !important;
	color: #363636;
}

.bottom {
	position: absolute !important;
	bottom: 0rem;
	left: 0;
	width: 100%;
}

.spacer {
	height: 5rem;
	// margin-bottom: 0.5rem;
}

.fade-in-down {
	animation: fadeInDown 1s ease-out;
}

@keyframes fadeInDown {
	0% {transform: translateY(-100%)}
	0% {opacity:0;}
	100% {transform: translateY(0%)}
	100% {opacity:1;}
}

.fade-in-left {
	animation: fadeInLeft 2s ease-out;
}

@keyframes fadeInLeft {
	0% {transform: translateX(-10%)}
	0% {opacity:0;}
	60% {transform: translateX(-10%)}
	60% {opacity:0;}
	100% {transform: translateX(0%)}
	100% {opacity:1;}
}

.fade-in-up {
	animation: fadeInUp 4s ease-out;
}

@keyframes fadeInUp {
	0% {transform: translateY(100%)}
	0% {opacity:0;}
	70% {transform: translateY(100%)}
	70% {opacity:0;}
	100% {transform: translateY(0%)}
	100% {opacity:1;}
}
