#root {
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
} 

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

html {
  background-image: url(../public/images/oranges_background.png);
  background-attachment: fixed;
  background-size: cover;
  background-repeat: no-repeat;
}

@font-face {
  font-family: LuloCleanOne;
  src: url(./assets/fonts/LuloCleanOne.otf);
}

@font-face {
  font-family: LuloCleanOneBold;
  src: url(./assets/fonts/LuloCleanOneBold.otf);
}

h1 {
  font-family: LuloCleanOneBold;
  font-size: 42px;
  line-height: 58px;
  font-weight: 700;
  margin: 2px;
  margin-bottom: 39px;
}

h3 {
  font-family: LuloCleanOne;
  font-size: 25px;
  line-height: 35px;
  font-weight: 400;
  margin: 2px;
}

h4 {
  font-family: LuloCleanOneBold;
  font-weight: 700;
  font-size: 25px;
  line-height: 35px;
  margin: 0;
  margin-bottom: 7px;
}

h5 {
  font-family: LuloCleanOne;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 25px;
}

